.navbar-brand{
    position: absolute;
}

.navbar-brand img{
    width: 235px;
}

.tema {
    display:block;
    font-family: Minor;
    margin-left: auto;
    margin-right: auto;
  
}
.tema h2{
   
   color:white;
}


.midias{
    position: absolute;
    right: 0pt;
}


.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    font-family: Minor;
    border-radius:10px;
    
}

.container .form-group {
    width: 64%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
    
}

.container .botoes {
    transform: translate(18%, 0.2%);

}

.container p-4 {
    position:relative;
}

.midiasfooter{
 transform: translate(3.5%, 3.5%);

}

.error{
    font-family: Minor;
    color: #d41024;
}